body{
    font-family: 'bariol',Helvetica,Arial,sans-serif !important;
}
.navbar-brand {
    float   : none;
    padding : 5px;
}

.navbar-center {
    position   : absolute;
    top        : 0;
    left       : 0;

    height     : 100%;
    width      : 100%;
    margin     : auto;

    text-align : center;
}

.cont{
    max-width : 300px;
}

.navbar-default .navbar-nav>li>a {
    color : white;
}