{% extends "base.html" %}

{% block content %}
 
      <div class='cont'>
        <form method='post'>
          <div class="form-group">
            <label for="editcomment">Edit Comment:</label>
            <textarea class="form-control" rows="5" id="editcomment" name='editcomment' placeholder="Place Your comment here " >{{comment.comment}}</textarea>
          </div>
          <div class="error">{{error}}</div>
          <input type='submit' style='font-size: 16px;' class='btn btn-primary'>
        </form>
      </div>

{% endblock %}




