<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/login.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      </div>
      <!-- <a class="navbar-brand navbar-center" href="#">
        <img src="http://placehold.it/100x40" alt="Logo Here">
      </a> -->
      <div class="navbar-collapse collapse" style='background: black;'>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#itemonelink">Angeler</a></li>
          <!-- <li><a href="#itemtwolink">Item Two</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup">SignUp</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>
    <div class='container'>
      <h2>Log In</h2>
      <div class='cont'>
        <form method='post'>
          <div class="form-group">
            <label for="username">UserName:</label>
            <input type="text" class="form-control" id="username" name='username' placeholder="UserName" value="{{username}}">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password" name ='password' placeholder="Password" value=''>
          </div>
          <div class='error'>
            <h6>{{error}}</h6>
          </div>
          <input type='submit' class='btn btn-primary'>
          <h5>Don't have an account .? </h5><a href='/signup' >Create One </a>
        </form>
      </div>
    </div>
  </body>
</html>