<!DOCTYPE html>
<html>
<head>
  <!-- <link type="text/css" rel="stylesheet" href="/static/main.css" /> -->
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script>
      function func(){
        window.open("/blog/newpost","_self");
      }
      function like(){
        var likes = "{{likes}}";
        var post_id = "{{post.key().id()}}"
        likes = parseInt(likes) + 1 ;
        $.ajax({
        type: "POST",
        url: "/blog/post/like",
        data: { likes : likes,post_id :post_id}

      }).done(function(data) {
         $(".parent").html("<button class='btn btn-primary'  style='margin-right: 3px; margin-bottom: 3px;' onclick = 'unlike()' >Unlike</button> "+likes+" Likes");

      });
      }
      function unlike(){
        var likes = "{{likes}}";
        var post_id = "{{post.key().id()}}"
        likes = parseInt(likes) - 1 ;
        $.ajax({
        type: "POST",
        url: "/blog/post/unlike",
        data: { likes : likes,post_id :post_id}

      }).done(function(data) {
         $(".parent").html("<button class='btn btn-primary'  style='margin-right: 3px; margin-bottom: 3px;' onclick = 'like()' >Like</button> "+likes+" Likes");

      });
      }
    </script>
  <title>Blog</title>
</head>

<body>
    {% if user %}
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>    
        </div>
        <!-- <a class="navbar-brand navbar-center" href="#">
            <img src="http://placehold.it/100x40" alt="Logo Here">
        </a> -->
        <div class="navbar-collapse collapse" style='background: black;'>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/blog">Angeler</a></li>
                <!-- <li><a href="#itemtwolink">Item Two</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="/signup">SignUp</a></li> -->
                <li><a href="/logout">Logout</a></li>
            </ul>
      </div>
      </nav>
    {% else %}
        <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>    
        </div>
        <!-- <a class="navbar-brand navbar-center" href="#">
            <img src="http://placehold.it/100x40" alt="Logo Here">
        </a> -->
        <div class="navbar-collapse collapse" style='background: black;'>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/blog">Angeler</a></li>
                <!-- <li><a href="#itemtwolink">Item Two</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup">SignUp</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        </nav>
    {% endif %}
      <div class="container" style=' background: white;'>
        {{post.render() | safe}}

  {% if user.name == post.author or not user %}
    <div class='combine'>
        <button class='btn btn-primary' disabled style='margin-right: 3px; margin-bottom: 3px;' onclick = 'like()' >Like</button>
        {{likes}} Likes
      <br>
      <a href='/blog/edit_post?id={{post.key().id()}}' style='font-size: 17px ; padding-right: 4px;'>EditPost</a>
      <a href='/blog/delete_post?id={{post.key().id()}}' style='font-size: 17px ; padding-right: 4px;'>DeletePost</a>
    </div>
  {% else %}
  <div class='parent'>
    {% if user.name in users_liked %}
    <button class='btn btn-primary'  style='margin-right: 3px; margin-bottom: 3px;' onclick = 'unlike()' >UnLike</button>
        {{likes}} Likes
        <br>
    </div>
    {% else %}
    <button class='btn btn-primary'  style='margin-right: 3px; margin-bottom: 3px;' onclick = 'like()' >Like</button>
        {{likes}} Likes
        <br>
    </div>
    {% endif %}
  {% endif %}
  
  <form method="post" >
    <input type="text" id ='comment' name="comment" style='width:60%!important;' placeholder="Place Your Comment Here"/>
    <br>
    <input type="submit" class='btn btn-primary' style=' margin-top :14px; margin-bottom: 10px; font-size:15px'> 
  </form>
  <h4>Comments</h3>

  {% for c in comments %}
  <div class="list-group" style='background: #e3f0f5'>
  <a href="#" class="list-group-item active" style='background: #e3f0f5;color:black;' >
    <h4 class="list-group-item-heading" style='background: #e3f0f5; color:black' >@{{c.author }}</h4>
    <p class="list-group-item-text" style='background: #e3f0f5; color :black'>{{c.comment}}</p>
    {% if user.name == c.author %}
      <a href='/blog/edit_comment?id={{c.key().id()}}' style='font-size: 17px ; padding-right: 4px;'>Edit</a>
      <a href='/blog/delete_comment?id={{c.key().id()}}' style='font-size: 17px ; padding-right: 4px;'>Delete</a>
      {% endif %}
  </a>
  </div>
  {% endfor %}
      </div>
</body>

</html>